# Instead of doing this, use ~/.gitconfig.local
# [user]
# name = Lars Rune Nøstdal
# email = larsnostdal@gmail.com

[init]
defaultBranch = master # Taxation = slavery; I bet the SJWs don't like to hear that.

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
decorate = always
grep = always
showbranch = always

[push]
default = simple

[cola]
spellcheck = false

[merge]
conflictStyle = diff3

[receive]
denyCurrentBranch = updateInstead

[diff]
algorithm = histogram
