[user]
name = Lars Rune Nøstdal
email = larsnostdal@gmail.com
signingkey = A08AC77A7B281AED

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
decorate = always
grep = always
showbranch = always

[push]
default = simple

[cola]
spellcheck = false
